<launch>	
<!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <!--arg name="robot_ip" default="172.22.222.111"/-->
  <arg name="robot_ip" default="172.22.222.111"/>
  <arg name="limited" default="true"/>
  <arg name="min_payload"  default="0.0"/>
  <arg name="max_payload"  default="10.0"/>
  <arg name="prefix" default="" />
  <arg name="sim" default="false" />
  <arg name="db" default="false" />
  <arg name="config" default="true" />
  <arg name="debug" default="false" />
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_tf" args="0 0 0 0 0 0 1 /world /map"/>     
  
  <!--//////////////////////// Modern ur10 driver///////////////////////////////////////-->
  <!-- robot model -->
  <include file="$(find ur_description)/launch/ur10_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>
  
  <!-- ur common -->
  <include file="$(find ur_modern_driver)/launch/ur_common.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="min_payload"  value="$(arg min_payload)"/>
    <arg name="max_payload"  value="$(arg max_payload)"/>
    <arg name="servoj_time"  value="0.08" />
  </include>
  <!--///////////////////////////////////////////////////////////////////////////////-->
    
  <node name="kollrobot_controller" pkg="kollrobot_controller" type="kollrobot_controller" output="screen">    
    <rosparam command="load" file="$(find kollrobot_controller)/yaml/kollrobot_controller.yaml" />
    <param name="SimMode" type="bool" value="false" />
    <param name="DemoMode" type="bool" value="false" />
    <param name="DemoUR10Mode" type="bool" value="false" />
    <param name="NormalMode" type="bool" value="true" />
  </node>
  
    <include file="$(find ur_description)/launch/ur10_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <include file="$(find qrcode_referencer)/launch/april_calibration.launch"/>

    <arg name="rviz_cfg" default="$(find kollrobot_controller)/rvizcfg/kollrobot_controller_sole.rviz" />
    <node name="rviz_thomas" pkg="rviz" type="rviz" args="-d $(arg rviz_cfg)">
  </node>	
</launch>
	