<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ropose)/worlds/ropose_real_demo_no_cam.world"/>
    <!-- more default parameters can be changed here -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="false"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
  <!-- load params-->
  <arg name="ur_limited" default="true"/>
  <arg name="robot_name" default="ur10"/>
  <arg name="robot_description" default="$(arg robot_name)/robot_description"/>

  <!-- send robot urdf to param server -->
  <include file="$(find ur_description)/launch/ur10_upload.launch">
    <arg name="limited" value="$(arg ur_limited)"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot" respawn="false"/>

  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>

  <rosparam file="$(find ropose)/yaml/arm_controller_ur10.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false"/>
  
  <!-- upload robot descripton-->
  <include file="$(find ur10_moveit_config)/launch/ur10_moveit_planning_execution.launch">
    <arg name="sim" value="true"/>
  </include>

 <!-- launch realsense-->
  <arg name="width" default="1280"/>
  <arg name="height" default="720"/> 
  
  <!--node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_tf2" args="-0.04570664 0.10452091 -0.05946044 -0.692256815409 -0.0110600966582 -0.0191038082984 0.72131353813 /world /camera_link_temp"/-->    
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_tf2" args="-0.04570664 -0.8452091 -0.05946044 -0.692256815409 -0.0110600966582 -0.0191038082984 0.72131353813 /world /camera_link_temp"/>    
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_tf1" args="0 0 0 0.5 -0.5 0.5 0.5 /camera_link_temp camera_link"/>    
    
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        <arg name="camera"            value="depthcam1"/>
        <arg name="serial_no"           value=""/>
        <arg name="json_file_path"      value="/home/thomas/ROS/RealSensCfg/highaccuracy.json"/>     
        <arg name="depth_width"       value="$(arg width)"/>
        <arg name="depth_height"      value="$(arg height)"/>
        <arg name="infra1_width"      value="$(arg width)"/>
        <arg name="infra1_height"     value="$(arg height)"/>
        <arg name="infra2_width"      value="$(arg width)"/>
        <arg name="infra2_height"     value="$(arg height)"/>
        <arg name="color_width"       value="$(arg width)"/>
        <arg name="color_height"      value="$(arg height)"/>
    </include>


  <include file="$(find qrcode_referencer)/launch/qrcode_referencer.launch">
  </include>
  
  <node name="kollrobot_controller" pkg="kollrobot_controller" type="kollrobot_controller" output="screen">    
    <rosparam command="load" file="$(find kollrobot_controller)/yaml/kollrobot_controller.yaml" />
    <param name="SimMode" type="bool" value="false" />
    <param name="DemoMode" type="bool" value="false" />
    <param name="DemoUR10Mode" type="bool" value="false" />
    <param name="NormalMode" type="bool" value="true" />
    <param name="MG_manipulator/SetPlanningScene" type="bool" value="true" />
  </node>

  <arg name="rviz_cfg" default="$(find ropose)/rvizConfig/demo_ur10_only.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_cfg)"/>	

  </launch>
