<launch>  

<!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <!--arg name="robot_ip" default="172.22.222.111"/-->
  <arg name="robot_ip" default="172.22.222.50"/>
  <arg name="limited" default="true"/>
  <arg name="min_payload"  default="0.0"/>
  <arg name="max_payload"  default="10.0"/>
  <arg name="prefix" default="" />
  <arg name="sim" default="false" />
  <arg name="db" default="false" />
  <arg name="config" default="true" />
  <arg name="debug" default="false" />
  
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_tf" args="0 0 0 0 0 0 1 /world /map"/>    
  

  <!--//////////////////////// Modern ur10 driver///////////////////////////////////////-->
  <!-- robot model -->
  <include file="$(find ur_description)/launch/ur10_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>
  
  <!-- ur common -->
  <include file="$(find ur_modern_driver)/launch/ur_common.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="min_payload"  value="$(arg min_payload)"/>
    <arg name="max_payload"  value="$(arg max_payload)"/>
    <arg name="servoj_time"  value="0.08" />
  </include>
  <!--///////////////////////////////////////////////////////////////////////////////-->
  
    <include file="$(find ur_description)/launch/ur10_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  
  <node name="kollrobot_controller" pkg="kollrobot_controller" type="kollrobot_controller" output="screen">    
    <rosparam command="load" file="$(find kollrobot_controller)/yaml/kollrobot_controller.yaml" />
    <param name="SimMode" type="bool" value="false" />
    <param name="DemoMode" type="bool" value="false" />
    <param name="DemoUR10Mode" type="bool" value="false" />
    <param name="NormalMode" type="bool" value="true" />
  </node>

  <!-- Launch moveit -->
  <include file="$(find ur10_moveit_config)/launch/move_group.launch">
    <arg name="limited" default="$(arg limited)"/>
    <arg name="debug" default="$(arg debug)" />
  </include>
  
  <!-- Remap follow_joint_trajectory -->
  <remap from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
  
 <!-- launch realsense-->
  <arg name="width" default="1280"/>
  <arg name="height" default="720"/> 
    


  <group ns="depthcam1">
  <arg name="cameraName"            value="depthcam1"/>
    <!--node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_tf2" args="-0.04570664 0.10452091 -0.05946044 -0.692256815409 -0.0110600966582 -0.0191038082984 0.72131353813 /world /camera_link_temp"/-->    
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_tf2" args="-0.04570664 0.10452091 -0.05946044 0.010 -0.043 -1.571  /world /$(arg cameraName)_link_temp"/>    
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_tf1" args="0 0 0 0.5 -0.5 0.5 0.5 /$(arg cameraName)_link_temp /$(arg cameraName)_link_temp2"/>    
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_tf0" args="0.00 -0.01 0.04 -0.03 0.00 0.06 /$(arg cameraName)_link_temp2 /$(arg cameraName)_link"/>    
  
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
      <arg name="camera"            value="$(arg cameraName)"/>
      <arg name="serial_no"           value="817412071148"/>
      <arg name="json_file_path"      value="/home/thomas/ROS/RealSensCfg/highDense_435.json"/>
    </include>
    <rosparam command="load" file="$(find qrcode_referencer)/config/settings.yaml"/>
    <node name="qrcode_referencer$(arg cameraName)" pkg="qrcode_referencer" type="qrcode_referencer" output="screen">
      <remap from="/depthcam/color/camera_info" to="/$(arg cameraName)/$(arg cameraName)/color/camera_info"/>
      <remap from="/depthcam/color/image_raw" to="/$(arg cameraName)/$(arg cameraName)/color/image_raw"/>
      <remap from="/depthcam/depth_registered/points" to="/$(arg cameraName)/$(arg cameraName)/depth_registered/points"/>
    </node>
  </group>
  <group ns="depthcam2">
    <arg name="cameraName"            value="depthcam2"/>
    <!--node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_tf2" args="-0.04570664 0.10452091 -0.05946044 -0.692256815409 -0.0110600966582 -0.0191038082984 0.72131353813 /world /camera_link_temp"/-->    
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_tf2" args="-0.04570664 0.10452091 -0.05946044 0.010 -0.043 -1.571  /world /$(arg cameraName)_link_temp"/>    
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_tf1" args="0 0 0 0.5 -0.5 0.5 0.5 /$(arg cameraName)_link_temp /$(arg cameraName)_link_temp2"/>    
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_tf0" args="0.00 -0.01 0.04 -0.03 0.00 0.06 /$(arg cameraName)_link_temp2 /$(arg cameraName)_link"/>    
  
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
      <arg name="camera"            value="$(arg cameraName)"/>
      <arg name="serial_no"           value="810512061471"/>
      <arg name="json_file_path"      value="/home/thomas/ROS/RealSensCfg/highDense_415.json"/>
    </include>
    <rosparam command="load" file="$(find qrcode_referencer)/config/settings.yaml"/>
    <node name="qrcode_referencer$(arg cameraName)" pkg="qrcode_referencer" type="qrcode_referencer" output="screen">
      <remap from="/depthcam/color/camera_info" to="/$(arg cameraName)/$(arg cameraName)/color/camera_info"/>
      <remap from="/depthcam/color/image_raw" to="/$(arg cameraName)/$(arg cameraName)/color/image_raw"/>
      <remap from="/depthcam/depth_registered/points" to="/$(arg cameraName)/$(arg cameraName)/depth_registered/points"/>
    </node>
  </group>
    
 <include file="$(find magic_box)/launch/magic_box_master.launch">
  </include>

  <arg name="rviz_cfg" default="$(find kollrobot_controller)/rvizcfg/kollrobot_controller.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_cfg)">
  </node>	
  </launch>
